# 환경 변수 (보안)
.env

# 파이썬 캐시 파일
__pycache__/
*.pyc

# 코드스페이스/VS Code 설정 파일
.vscode/
.idea/

# 시스템 파일
.DS_Store

# 테스트 , 미배포 파일
testFetch.py
main.yml
# test 디렉터리 전체 제외
test/

# steamlit 설정파일
.streamlit/secrets.toml

